/* all */
*{
    font-family: "微軟正黑體";
    font-size: 20px;
}
body{
    background-color: rgba(255,234,173,0.67);
}
#menu_1{
    width:30px;
    height:100px;
    background-color: rgba(206,197,230,1);
    float: left;
    position: absolute;
    top:40px;
    z-index:999;
}
#menu_2{
    width:30px;
    height:100px;
    background-color:rgba(124,156,253,1);
    float: left;
    position:absolute;
    top:180px;
    z-index:999;
    
}

#menu_3{
    width:30px;
    height:100px;
    background-color:rgba(243,244,245,1);
    float: left;
    position:absolute;
    top:320px;
    z-index:999;
}

#menu_4{
    width:30px;
    height:100px;
    background-color:rgba(24,224,124,0.6);
    float: left;
    position:absolute;
    top:460px;
    z-index:999;
}
#menu_5{
    width:30px;
    height:100px;
    background-color: #D59139;
    float: right;
    position:absolute;
    right:0;
    top:40px;
    z-index:999;
}

#body_1{
    text-align: center;
    width:580px;
    height:auto;
    padding: 10px;
    border:  1px solid gray;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-130px 0 0 -300px;
    
    
}
#body_1 p{
    text-align: center;
    font-size: 20px;
}
.container{
    border: 1px solid black;
    position: absolute;
    top:30px;
    left:100px;
    width: 1100px;
    height: 550px;
}
.index_img{
    width:90px;
    height:90px;
    float: left;
}
.index_ifo{
    float:left;
    display: none;
}
.index_ifo2{
    float:right;
    display: none;
}
.index_p{
    float: left;
    font-size: 30px;
    margin-top: 35px;
}
#logo_p{
    display: none;
}
.muscle_1{
    border:1px solid gray;
    font-size: 20px;
    width:100px;
    height: 45px;
    display: flex;
    flex-direction: column;
    
}

.body_muscle_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #C17157;
    background-color: #FF9978;
    border-radius: 40px;
    width: 300px;
    margin: 10px auto;
    padding: 5px;
}

.muscle_img{
    display:block;
    float: left;
    margin: 100px 0 0 0;
}
.muscle_2{
    border:1px solid gray;
    font-size: 20px;
    width:100px;
    height: 45px;
    display: flex;
    flex-direction: column;
}
#body_muscle2{
    width:100px;
    height:360px; 
    float:left;
     margin: 95px 0 0 0;
}
#body_muscle3{
    width:100px;
    height:360px;
    float: left;
    margin: 95px 0 0 0;
}
.muscle_p{
    width: 400px;
    height: 440px;
    margin: 25px;
    float: right;
    border:1px solid gray;
    border-radius: 15px;
    font-size: 20px;
}
.mp{
    display: none;
}
.mp_ifo{
    display: none;
    font-size: 10px;
}
.red{
    color: red;
    font-weight: bold;
}
.home{
    
    width:70px;
    height:70px;
    /* //background-color: #D59139; */
    float: right;
    position:relative;
    right:5px;
    top:510px;
    z-index:999;
}
.home_img{
    /* //display: none; */
    width: 70px;
    height: 70px;
}
/*<!------tu------>*/
#calculator_page{
    display:none;
}
#calculator_main{
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.calculator_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: slategrey;
    background-color: gainsboro;
    border-radius: 40px;
    width: 300px;
    margin: 10px auto;
    padding: 5px;
}
.calculator_btn{
    width: 550px;
    height: 300px;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
}
.calculator_img{
    width: 250px;
    height: 250px;
    cursor: pointer;            
    margin: 10px;                        
}
.calculator_text{
    font-size: 24px;
    font-weight: bold;
}
/* -----kcal calculator----- */
#calculator_main{
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.calculator_title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: slategrey;
    background-color: gainsboro;
    border-radius: 40px;
    width: 300px;
    margin: 10px auto;
    padding: 5px;
}
.calculator_btn{
    width: 550px;
    height: 300px;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
}
.calculator_img{
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin: 10px;
}
.calculator_text{
    font-size: 24px;
    font-weight: bold;
}
#calculator_text_kcal{
    position: absolute;
    bottom: 100px;
    left: 250px;
}
#calculator_text_bmi{
    position: absolute;
    bottom: 100px;
    right: 250px;
}
/* -----kcal calculator----- */
#kcal_win {
    display: none;
    position: absolute;
    top: 70px;
    left: 550px;
    border: 3px solid lightslategray;
    background-color: Gainsboro;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
    width: 500px;
    height: 460px;
    padding: 10px;            
}
#kcal_title{
    font-weight: bold;
    font-size: 18px;
    background-color: chocolate;
    width: 150px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}
#show_select{
    border: 2px solid chocolate;
    border-radius:4px;
    background-color: whitesmoke;
    height: 100px;
    margin: 0px 30px;
    overflow-y: auto;
}
#kcal_btn_container{
    height: 50px;
}
.kcal_submit_btn{
    border: 1.5px solid gray;
    border-radius: 4px;
    background-color: Silver;
    width: 80px;
    text-align: center;
    padding: 5px;
    margin: 5px ;
    margin-left: 100px;
    float: left;
    cursor: pointer;
    font-weight: bold;
}
#kcal_item_container{
    margin: 0px;
    margin-left: 30px;
}
#kcal_item_container p{
    display: none;
}
.kcal_item{
    background-color: chocolate;
    border: 1.25px solid dimgray;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 4px;
    width: 62px;
    padding: 5px;
    margin: 5px 9px ;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.selected{
    color: sienna;
    background-color: burlywood;
    /* border: 1px solid dimgray; */
    border-radius: 4px;
    width: 60px;
    padding: 5px;
    margin: 4px ;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.selected p{
display: none;
}
#kcal_ans{
    position: absolute;
    bottom: 15px;
    right: 40px;
    width: 180px;
    text-align: left;
    font-weight: bold;
    color: sienna;
    background-color: burlywood;
    border-radius: 5px;
    margin: 5px 0px ;
    padding: 5px;
}
#kcal_recommend{
    position: absolute;
    bottom: 15px;
    left: 80px;
    width: 180px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: cornflowerblue;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 5px 0px ;
    padding: 5px;
    text-align: center;
}
#kcal_tips_btn{
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: rgba(20,20,20,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#kcal_tips_btn img{
    width: 50px;
    height: 50px;
}
#kcal_tips{
    display: none;
    position: absolute;
    bottom: 0px;
    right: 505px;
    border: 2px solid lightgray;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0,0.3);
    width: 220px;
    height: 180px;
    padding: 10px; 
}
#kcal_tips h3{
    font-size: 14px;
    color: chocolate;
    text-align: center;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 4px;
    width: 150px;
    margin: 0px auto;
    padding: 2px;
}
#kcal_tips p{
    font-size: 12px;
    font-weight: 500;
    color: dimgray;
    padding: 4px;
    line-height: 20px;
    font-weight: bold;
}
/* -----bmi calculator----- */
#bmi_win{
    display: none;
    position: absolute;
    top: 70px;
    left: 50px;
    border: 3px solid lightslategray;
    background-color: Gainsboro;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
    width: 500px;
    height: 460px;
    padding: 10px;  
}
#bmi_title{
    font-size: 20px;
    font-weight: bold;
    background-color: cadetblue;
    width: 150px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}
.bmi_column{
    display: inline-flex;
    margin: 5px;
}
#bmi_height,#bmi_weight{
    width: 400px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}
.bmi_input input{
    width: 200px;
/* height: 40px; */
}
.bmi_head,.bmi_unit{
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    width: 50px;
}
#bmi_sex{
    display: inline-flex;
    font-weight: bold;
    font-size: 18px;
    width: 400px;
    margin: 5px auto;
    margin-left: 65px;
    padding: 5px;
    text-align: center;
}
#bmi_sex_title,#bmi_sex input{
    width: 50px;
}
#bmi_btn_container{
    height: 50px;
}
.bmi_submit_btn{
    border: 1.5px solid gray;
    border-radius: 4px;
    background-color: Silver;
    width: 80px;
    text-align: center;
    padding: 5px;
    margin: 5px ;
    margin-left: 100px;
    float: left;
    cursor: pointer;
    font-weight: bold;
}
#bmi_result_title{
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
    width: 150px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}
#bmi_result_block{
    display: inline-flex;
    width: 100%;
}
.bmi_result_item{
    width: 230px;
    height: 130px;
    margin: 0px auto;
    text-align: center;
}
#bmi_value{
    width: 100px;
    height: 100px;
    color: khaki;
    background-color: steelblue;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
}
#bmi_result_img img{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 100px;
    background-color:steelblue;
}
.bmi_result_desc{
    font-weight: bold;
    color: teal;
    margin: 5px;
}
/*----injury-----*/
#injury_title{
    font-size: 30px;
    font-weight: bold;
    color: steelblue;
    background-color: whitesmoke;
    text-align: center;
    width: 1099px;
    padding: 10px;
}
#chatroom_body{
    width: 1100px;
    height: 420px;
    padding: 10px;
    /* border: 3px solid slategray; */
    background-color: gainsboro;
    overflow-y: auto;
}
#chatroom_box{
    display: inline-flex;
    width: 1100px;
    height: 75px;
    background-color: lightsteelblue;
}
#chatroom_tips{
    padding: 5px;
    margin: 5px;
}
#chatroom_tips img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}
#chatroom_input{
    display: inline-flex;
    border: 1px solid gray;
    background-color: whitesmoke;
    width: 440px;
    height: 50px;
    margin: 10px;
    padding: 15px;
    color: dimgray;
}
#chatroom_options{
    display: inline-flex;
    margin: 10px 5px;
/* background-color: honeydew; */
}
.injury_option{
    display: inline-flex;
    border: 1.5px solid gray;
    background-color: khaki;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.injury_option p{
    display: none;
}
#injury_preset{
    background-color: cornsilk;
    border: 1px solid lightyellow;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: fit-content;
    float: left;
    clear: both;
    display: none;
}
#injury_preset p{
    font-size: 18px;
    font-weight: bold;
    color: saddlebrown;
}
.right{
    display: inline-flex;
    width: fit-content;
    float: right;
    clear: both;
}
.injury_selected{
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    background-color: steelblue;
    border: 1.5px solid steelblue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.injury_selected p{
    display: none;
}
.right img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px 0px;
}
.left{
    font-size: 18px;
    font-weight: bold;
    color: chocolate;
    background-color: cornsilk;
    border: 1px solid lightyellow;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    float: left;
    clear: both;
}
.left_inline{
    width: 600px;
    /* display: inline-flex; */
}
.left_inline img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    }
.left p{
    font-size: 18px;
    font-weight: bold;
    color: dimgray;
    padding: 5px;
    margin: 5px;
}
#injury_win{
    display: none;
    width: 600px;
    height: 380px;
    position: absolute;
    left: 250px;
    bottom: 100px;
    border: 1px solid lightgray;
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
}
#injury_win h3{
    font-size: 18px;
    font-weight: bold;
    color: sienna;
    background-color: tan;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    margin: 5px auto;
    padding: 5px;
}
#injury_win_close{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border: 1.5px solid dimgray;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
#injury_win h4{
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin: 5px;
}
#injury_win p{
    font-size: 14px;
    font-weight: bold;
    color: dimgray;
}
#injury_page{
    display:none;
}
/*飲食*/
/* -----food page-----*/
        #food_main{
            display: inline-flex;
            width: 100%;
            height: 100%;
        }
        .food_title{
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            color: white;
            background-color:darkorange;
            border-radius: 40px;
            width: 300px;
            margin: 10px auto;
            padding: 5px;
        }
        .food_btn{
            margin: 20px auto;
            margin-top: 50px;
            text-align: center;
            cursor: pointer;
        }
        .food_img{
            width: 200px;
            height: 200px;
            cursor: pointer;
            margin: auto;
        }
        .food_text{
            font-size: 24px;
            font-weight: bold;
        }
        #food_title{
            font-weight: bold;
            font-size: 18px;
            background-color:#8B4513;
            width: 150px;
            margin: 10px auto;
            padding: 5px;
            text-align: center;
            border-radius: 4px;
        }
        /*------Calories  page-------*/
        #cal_form_close{
            border: 2px solid white;
            background-color:#FFF3EE ;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.9);
            width: 35px;
            height: 36px;
            margin: 5px 450px;
            cursor: pointer;
        }
        #Calories_title{
            background-color:	#FFD2D2;
            width: 110px;
            height: 30px;
            margin: 5px auto;
            border-radius: 5px;
            
        }
        #Calories_form{
            background-color:	#FFF3EE;
            font-size: 25px;
            font-weight: bold;
            width: 500px;
            height: 550px;
            border:2px solid white;
            box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
            text-align: center;
            display: none;
            position: absolute;
            top: 0px;
            left: 300px;
        }
        #fruits_btn,#meal_btn,#drink_btn{
            width:100px;
            height: 30px;
            background-color:#FFECEC;
            box-shadow: 4px 4px 4px rgb(0, 0, 0,0.5);
            display:inline-block;
            border-radius: 5px;
        }
        .btn_img
        {
            width:40px;
            height: 30px; 
            text-align: center;
            margin:auto;
            cursor: pointer;
        }
        .tag_text{
            float: left;
            font-size: 20px;
            font-weight: bold; 
            text-align: center;
            margin: 5px 10px auto;
            cursor: pointer;
        }
        .form_img{
            margin:10px auto;
            width: 400px;
            height: 400px;
        }

        /*----------健身食譜----------*/
        #recipe_form_close
        {
            border: 2px solid white;
            background-color: oldlace;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.9);
            width: 35px;
            height: 36px;
            margin: 2px 750px;
            cursor: pointer;
        }
        .recipe_title{
            background-color:	#FFC78E;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.9);
            width: 110px;
            height: 30px;
            margin: 0px auto;
            border-radius: 3px;
            font-size: 25px;
        }
        #recipe_part{
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            width: 800px;
            height: 550px;
            background-color: oldlace;
            border: 3px solid white;
            box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
            display: none;
            position: absolute;
            top: 0px;
            left:150px; /*之後可能要調，會超出版面*/
        }
        .arrow{
            position: relative;
        }
        .arrow img{
            width:30px;
            height:30px;
            cursor: pointer;
        }
        #recipe_left_arrow{
            position: absolute;
            top:245px;
        }
        #recipe_right_arrow{
            position: absolute;
            right: 0;
            top:245px;
        }
        .book_section{

            width: 750px;
            height: 450px;
            margin: 10px auto;
            position: relative;
        }
        .book_box{
            width: 680px;
            height: 450px;
            background-color:lavender;
            margin: 20px auto;
        }
        .photo img{
            width: 700px;
            height: 450px;
        }
        /*推薦飲食*/
        #insearch_form_close{
            border: 2px solid white;
            background-color:cornsilk;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.9);
            width: 35px;
            height: 36px;
            margin: 5px 450px;
            cursor: pointer;
        }
        #insearch_part{
            background-color: cornsilk;
            font-size: 25px;
            font-weight: bold;
            width: 500px;
            height: 550px;
            border: 3px solid white;
            box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
            text-align: center;
            display: none;
            position: absolute;
            top: 0px;
            left: 300px;
        }
        #insearch_title{
            background-color:palegoldenrod;
            width: 110px;
            height: 30px;
            margin: 10px auto;
            border-radius: 5px;
            font-size: 25px;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.9);
        }
        .insearch_submit_btn{
            border-radius: 5px;
            background-color: lightgrey;
            width: 80px;
            text-align: center;
            padding: 5px;
            margin: 5px ;
            margin-left: 100px;
            float: left;
            cursor: pointer;
            font-weight: bold;
        }
        #insearch_btn_container{
            margin: 0px 30px;
        }
        #insearch_clear{
            margin: 100px  60px;/*上下 左右*/
        }
        #insearch_ok{
            margin: 100px  50px ;/*上 右 下 左*/
        }
        .show_select_2{
            border: 1px solid black;
            background-color: whitesmoke;
            height: 30px;
            width: 200px;
            display: inline-flex;
            text-align: center;

        }
        #WEIGHT_show{
            margin: 10px 0px;
            width: 200px;
            height: 30px;
        }
        #insearch_show{
            margin: 10px 30px;
        }
        #work{
            margin: 10px 0px;
        }
        #insearch_textbox{
/*            display: inline-flex;*/
            text-align: center;
        }
        .insearch_text{
/*            display: inline-flex;*/
            font-size: 20px;
            margin: 5px 0px;
        }
        #insearch_tips_btn img{
            width: 50px;
            height: 50px;
            float: left;
            cursor: pointer;
            margin: 100px 5px;
            }
            #insearch_tips{
                display: none;
                position: absolute;
                bottom: 0px;
                right: 500px;
                border: 2px solid lightgray;
                background-color: snow;
                box-shadow: 5px 5px 5px rgb(0, 0, 0,0.3);
                width: 220px;
                height: 220px;
                padding: 10px; 
            }
            #insearch_tips p{
                font-size: 12px;
                font-weight: 500;
                color: dimgray;
                padding: 4px;
                line-height: 20px;
                font-weight: bold;
            }
            #insearch_tips h3{
                font-size: 14px;
                color: chocolate;
                text-align: center;
                font-weight: bold;
                background-color: burlywood;
                border-radius: 4px;
                width: 150px;
                margin: 0px auto;
                padding: 2px;
            }
        .tips1 p{
            font-size: 10px;
            color:orangered;
        }
/* 健身資訊*/
/* -----sport_page-----*/
        #sport_content{ /*內容*/
            display: inline-flex;
            width: 100%;
            height: 100%;
        }

        .sport_title{ /*標題*/
        	float: top;
        	width: 350px;
            font-size: 42px;
            font-weight: bold;
            text-align: center;
            color: 	#3C3C3C;
            margin: 20px 0px -5px 375px;
            background: linear-gradient(transparent 40%,rgba(255,255,255,0) 40%, #FFDC35 90%,transparent 95%);	
        }

        .sport_btn{ /*按鈕*/
            width: 300px;
            height: 400px;
            margin: 20px auto;
            margin-top: 50px;
            text-align: center;
            border:3px black solid;
            box-shadow: 10px 10px 10px rgb(0, 0, 0,0.5);
            cursor: pointer;
        }

        #tips_btn{
        	background-color: #FFD4D4;
        }

        #equ_btn{
        	background-color: #ACD6FF;
        }

        .sport_img{ /*圖片*/
            width: 275px;
            height: 250px;
            cursor: pointer;
            margin: 10px;  
        }

        .sport_text1{ /*文字h1*/
            font-size: 25px;
            font-weight: bold;
        }

        .sport_text2{ /*文字p*/
        	margin: 10px;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
        }
        /*小視窗內文規格------------*/
        .sport_para{
        	position:absolute;
        	left: 75px;
        	top:100px;
        	font-size: 30px;
        	font-weight: bold;
        }
        .sport_video{
        	position:absolute;
        	top: 145px;
        	left: 55px;
        	width: 400px;
        	height: 250px;
        }

        .sport_text3{
        	position:absolute;
        	top: 125px;
        	right: 65px;
        	width: 430px;
        	height: 250px;
        	font-size: 25px;
        	line-height: 40px;
        	color:black;
        }
        /*----tips_page----*/
        #tips_page{
            display: none;
            position: absolute;
            top: 70px;
            left: 50px;
            border: 4px solid lightslategray;
            background-color: 	#FFE6D9;
            box-shadow: 6px 6px 6px rgb(0, 0, 0,0.5);
            width: 1000px;
            height: 465px;
            padding: 10px;   
            border-radius: 8px;
        }
        #tips_page_tit{ 
        	width: 180px;
        	position: absolute;
        	top: 25px;
        	left:20px;
            font-size: 40px;
            font-weight: bold;
            color: #5B5B5B;
            transform: rotate(-10deg);
            background: linear-gradient(transparent 40%,rgba(255,255,255,0) 40%, #FFDC35 90%,transparent 95%);
        }
        /*tips content*/
        .tips_btns{
        	width: 100px;
        	height: 45px;
        	margin-top: 15px;
        	font-weight: bold;
        	font-size: 30px;
            text-align: center;
            cursor: pointer;
            padding-top:2px;
            border-radius: 8px;
            border:3px black solid;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);  
        }
        #tips1{
        	position:absolute;
        	right: 435px;
        	background-color:#FFCBB3;
        }
        #tips2{
        	position:absolute;
        	right: 320px;
        	background-color:#FFFFAA;
        }
        #tips3{
        	position:absolute;
        	right: 205px;
        	background-color:#BBFFBB;
        }
        #tips4{
        	position:absolute;
        	right: 90px;
        	background-color:#CECEFF;
        }

        
        /*------------*/
        #tips_page_close{
		    position:absolute;
		    top: 10px;
		    right: 10px;
		    width: 40px;
		    height: 40px;
		    border: 3px solid black;
		    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
		    font-size: 20px;    
		    text-align: center;
		    cursor: pointer;
		    font-weight: bold;
		    padding: 6px 0px 0px 0px;
		    border-radius: 4px;
		}

        /*----equ_page----*/
        #equ_page{
            display: none;
            position: absolute;
            top: 70px;
            left: 50px;
            border: 4px solid lightslategray;
            background-color: #E6E6F2;
            box-shadow: 6px 6px 6px rgb(0, 0, 0,0.5);
            width: 1000px;
            height: 465px;
            padding: 10px;  
            border-radius: 8px;
        }
        
        #equ_page_tit{ 
        	width: 180px;
        	position: absolute;
        	top: 25px;
        	left:20px;
            font-size: 35px;
            font-weight: bold;
            color: #5B5B5B;
            transform: rotate(-10deg);
            background: linear-gradient(transparent 40%,rgba(255,255,255,0) 40%, #FFDC35 90%,transparent 95%);
        }
        /*equ content*/
        .equ_btns{
        	width: 150px;
        	height: 45px;
        	margin-top: 15px;
        	font-weight: bold;
        	font-size: 30px;
            text-align: center;
            cursor: pointer;
            padding-top:2px;
            border-radius: 8px;
            border:3px black solid;
            box-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);  
        }

        #equ1{
        	position:absolute;
        	right: 450px;
        	background-color:#FFC1E0;
        }
        #equ2{
        	position:absolute;
        	right: 270px;
        	background-color:#D6D6AD;
        }
        #equ3{
        	position:absolute;
        	right: 90px;
        	background-color:#B3D9D9;
        }
        /*------------*/

        #equ_page_close{
		    position:absolute;
		    top: 10px;
		    right: 10px;
		    width: 40px;
		    height: 40px;
		    border: 3px solid black;
		    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
		    text-align: center;
		    font-size: 20px;
		    padding: 6px 0px 0px 0px;
		    cursor: pointer;
		    font-weight: bold;
		    border-radius: 4px;
		}